<div class="container">

  <h2><%= @flats.title %></h2>
  <p><%= @flats.description %></p>
  <p><strong>Location:</strong> <%= @flats.location %></p>

  <%= link_to "Back to flats", flats_path %>

</div>
